In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GroupShuffleSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, r2_score
import os

In [3]:


##### Get WD
 
def find_repo_root(start_path):
    current_path = os.path.abspath(start_path)
    while True:
        # Check for the existence of the .git directory or other indicators
        if os.path.isdir(os.path.join(current_path, '.git')) or \
           os.path.isfile(os.path.join(current_path, 'README.md')):
            return current_path
       
        parent_path = os.path.dirname(current_path)
       
        # Stop if we reach the root directory
        if parent_path == current_path:
            break
       
        current_path = parent_path
 
    return None  # Return None if not found
 
root = find_repo_root(os.getcwd())
root = root.replace('\\', '/')
root

'c:/Users/fitsl/Documents/Programming/UVM Programming Classes/Data Science I/Project'

In [15]:
df = pd.read_csv(f"{root}/Data/County/By_county_clean/bycounty_2015_2019.csv")
df_top = df.sort_values(by='County_to_county_movers', ascending=False).head(20)
df_top[[
    'Current_state', 'Current_county', 'Past_state', 'Past_county', 'County_to_county_movers'
]]

,Current_state,Current_county,Past_state,Past_county,County_to_county_movers
17891,California,Los Angeles County,Asia,-,37932.0
18934,California,Orange County,California,Los Angeles County,37436.0
20585,California,San Bernardino County,California,Los Angeles County,36835.0
17175,California,Los Angeles County,California,Orange County,25557.0
19678,California,Riverside County,California,Los Angeles County,24338.0
35400,Florida,Broward County,Florida,Miami-Dade County,24255.0
23343,California,Santa Clara County,Asia,-,23067.0
157775,New York,Kings County,New York,New York County,22210.0
262930,Washington,Snohomish County,Washington,King County,21995.0
230562,Texas,Fort Bend County,Texas,Harris County,21108.0
262265,Washington,Pierce County,Washington,King County,20736.0
19693,California,Riverside County,California,San Bernardino County,20288.0
240216,Texas,Tarrant County,Texas,Dallas County,19963.0
261086,Washington,King County,Asia,-,19672.0
20598,California,San Bernardino County,California,Riverside County,19469.0
66785,Illinois,DuPage County,Illinois,Cook County,19259.0
229120,Texas,Denton County,Texas,Dallas County,18934.0
19366,California,Orange County,Asia,-,18290.0
21718,California,San Diego County,Asia,-,18167.0
25632,Colorado,Arapahoe County,Colorado,Denver County,18060.0

In [5]:
--break

SyntaxError: invalid syntax (2613166702.py, line 1)

In [ ]:
df1 = pd.read_csv(f"{root}/Data/FINAL_FOR_MODEL/From_2000.csv", 
                #   usecols=['STATE_FIPS', 'COUNTY_FIPS'], 
                  dtype= {
    'STATE_FIPS': str,
    'COUNTY_FIPS':str
})
df1

,Unnamed: 0,STATE_FIPS,COUNTY_FIPS,Population,Inflow_pc,Inflow_gross,Outflow_pc,Outflow_gross,Total_1_death,Total_2_death,...,unemployment_rate_2000,historic_mean_precip,historic_mean_avg_temp,historic_mean_max_temp,historic_annual_max_temp,historic_mean_min_temp,change_mean_daily_mean_temp,change_mean_daily_max_temp,change_mean_daily_min_temp,change_mean_annual_max_temp
0,0,1,1,3522056.0,0.102099,3596.0,0.106970,3536.0,210,0,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.20860
1,1,1,3,34183834.0,0.042421,14501.0,0.027854,9090.0,275,9,...,0.042647,63.79805,67.479746,77.96281,98.01970,56.78389,1.999492,1.96604,1.93077,2.59677
2,2,1,5,2151170.0,0.122399,2633.0,0.150193,2171.0,130,2,...,0.056531,52.12515,65.171052,76.89095,99.21846,53.44476,2.235789,2.27775,2.07063,3.15459
3,3,1,7,448980.0,0.208027,934.0,0.206049,1880.0,133,2,...,0.062199,55.13253,62.920000,75.16388,99.85084,50.65014,2.336136,2.39127,2.15021,3.06503
4,4,1,9,2635337.0,0.120212,3168.0,0.098462,2797.0,251,1,...,0.048418,55.77709,60.706818,72.76571,98.84455,48.62320,2.276818,2.32590,2.09726,3.12667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30894,31175,56,37,3513208.0,0.084168,2957.0,0.079822,2576.0,83,0,...,0.057087,8.97030,41.204415,55.68291,91.49861,26.64895,2.731117,2.69164,2.66650,3.21825
30895,31176,56,39,2702908.0,0.101927,2755.0,0.125370,2030.0,62,2,...,0.029287,34.59321,31.835892,46.69093,83.05324,16.78501,2.419713,2.29561,2.44730,3.37088
30896,31177,56,41,764408.0,0.122055,933.0,0.102044,988.0,20,0,...,0.063970,12.31117,39.701944,54.19024,88.35988,25.17951,2.778750,2.73537,2.70573,3.16648
30897,31178,56,43,222488.0,0.193718,431.0,0.217441,432.0,70,0,...,0.082958,11.98945,43.173678,57.94904,96.40398,28.41188,2.632414,2.59605,2.55813,3.19403
30898,31179,56,45,213838.0,0.274507,587.0,0.191943,413.0,335,0,...,0.055608,13.84871,45.535852,59.30887,99.50459,31.69130,2.390966,2.38964,2.27670,3.26765

In [ ]:
df2 = pd.read_csv(f"{root}/Data/FINAL_FOR_MODEL/minus_5_long.csv", 
                #   usecols=['STATE_FIPS', 'COUNTY_FIPS'], 
                  dtype= {
    'STATE_FIPS': str,
    'COUNTY_FIPS':str
})
df2

,Unnamed: 0,STATE_FIPS,COUNTY_FIPS,Population,Inflow_pc,Inflow_gross,Outflow_pc,Outflow_gross,Total_1_death,Total_2_death,...,unemployment_rate_2000,historic_mean_precip,historic_mean_avg_temp,historic_mean_max_temp,historic_annual_max_temp,historic_mean_min_temp,change_mean_daily_mean_temp,change_mean_daily_max_temp,change_mean_daily_min_temp,change_mean_annual_max_temp
0,0,1,1,3522056.0,0.102099,3596.0,0.106970,3536.0,191,0,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.20860
1,1,1,3,34183834.0,0.042421,14501.0,0.027854,9090.0,247,9,...,0.042647,63.79805,67.479746,77.96281,98.01970,56.78389,1.999492,1.96604,1.93077,2.59677
2,2,1,5,2151170.0,0.122399,2633.0,0.150193,2171.0,126,2,...,0.056531,52.12515,65.171052,76.89095,99.21846,53.44476,2.235789,2.27775,2.07063,3.15459
3,3,1,7,448980.0,0.208027,934.0,0.206049,1880.0,121,2,...,0.062199,55.13253,62.920000,75.16388,99.85084,50.65014,2.336136,2.39127,2.15021,3.06503
4,4,1,9,2635337.0,0.120212,3168.0,0.098462,2797.0,239,1,...,0.048418,55.77709,60.706818,72.76571,98.84455,48.62320,2.276818,2.32590,2.09726,3.12667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30889,31150,56,37,3513208.0,0.084168,2957.0,0.079822,2576.0,37,0,...,0.057087,8.97030,41.204415,55.68291,91.49861,26.64895,2.731117,2.69164,2.66650,3.21825
30890,31151,56,39,2702908.0,0.101927,2755.0,0.125370,2030.0,23,1,...,0.029287,34.59321,31.835892,46.69093,83.05324,16.78501,2.419713,2.29561,2.44730,3.37088
30891,31152,56,41,764408.0,0.122055,933.0,0.102044,988.0,15,0,...,0.063970,12.31117,39.701944,54.19024,88.35988,25.17951,2.778750,2.73537,2.70573,3.16648
30892,31153,56,43,222488.0,0.193718,431.0,0.217441,432.0,46,0,...,0.082958,11.98945,43.173678,57.94904,96.40398,28.41188,2.632414,2.59605,2.55813,3.19403
30893,31154,56,45,213838.0,0.274507,587.0,0.191943,413.0,195,0,...,0.055608,13.84871,45.535852,59.30887,99.50459,31.69130,2.390966,2.38964,2.27670,3.26765

In [ ]:
duplicated_in_df1 = df1[df1.duplicated(keep=False)]

# Find duplicated rows in df2 (including the first occurrence)
duplicated_in_df2 = df2[df2.duplicated(keep=False)]

print("Duplicated rows in df1:")
print(duplicated_in_df1)

print("\nDuplicated rows in df2:")
print(duplicated_in_df2)

Duplicated rows in df1:
Empty DataFrame
Columns: [Unnamed: 0, STATE_FIPS, COUNTY_FIPS, Population, Inflow_pc, Inflow_gross, Outflow_pc, Outflow_gross, Total_1_death, Total_2_death, Total_3_death, Total_4_death, Total_5_death, Total_6_death, Total_1_property, Total_2_property, Total_3_property, Total_4_property, Total_5_property, Total_6_property, median_household_income, median_age, median_house_value_USD, median_rent, per_pop_edu_less_than_high_school, per_pop_edu_high_school_grad, per_pop_edu_some_college, per_pop_edu_associates, per_pop_edu_bachelors, per_pop_edu_graduate, per_households_below_poverty_line, per_pop_white_alone, per_pop_female, per_pop_US_born_same_state, per_pop_US_born_other_state, per_pop_foreign_born, per_pop_veterans, rental_units_sub_10_per_income_per_pop, rental_units_10_15_per_income_per_pop, rental_units_15_20_per_income_per_pop, rental_units_20_25_per_income_per_pop, rental_units_25_30_per_income_per_pop, rental_units_30_35_per_income_per_pop, rental_units_35_40_per_income_per_pop, rental_units_40_50_per_income_per_pop, rental_units_above_50_per_income_per_pop, per_homes_renter_occupied, per_homes_vaccant_by_homes, per_homes_family, per_homes_without_plumbing, per_homes_without_kitchen, median_household_income_2000, median_rent_2000, median_house_price_2000, unemployment_rate_2000, historic_mean_precip, historic_mean_avg_temp, historic_mean_max_temp, historic_annual_max_temp, historic_mean_min_temp, change_mean_daily_mean_temp, change_mean_daily_max_temp, change_mean_daily_min_temp, change_mean_annual_max_temp]
Index: []

[0 rows x 64 columns]

Duplicated rows in df2:
Empty DataFrame
Columns: [Unnamed: 0, STATE_FIPS, COUNTY_FIPS, Population, Inflow_pc, Inflow_gross, Outflow_pc, Outflow_gross, Total_1_death, Total_2_death, Total_3_death, Total_4_death, Total_5_death, Total_6_death, Total_1_property, Total_2_property, Total_3_property, Total_4_property, Total_5_property, Total_6_property, median_household_income, median_age, median_house_value_USD, median_rent, per_pop_edu_less_than_high_school, per_pop_edu_high_school_grad, per_pop_edu_some_college, per_pop_edu_associates, per_pop_edu_bachelors, per_pop_edu_graduate, per_households_below_poverty_line, per_pop_white_alone, per_pop_female, per_pop_US_born_same_state, per_pop_US_born_other_state, per_pop_foreign_born, per_pop_veterans, rental_units_sub_10_per_income_per_pop, rental_units_10_15_per_income_per_pop, rental_units_15_20_per_income_per_pop, rental_units_20_25_per_income_per_pop, rental_units_25_30_per_income_per_pop, rental_units_30_35_per_income_per_pop, rental_units_35_40_per_income_per_pop, rental_units_40_50_per_income_per_pop, rental_units_above_50_per_income_per_pop, per_homes_renter_occupied, per_homes_vaccant_by_homes, per_homes_family, per_homes_without_plumbing, per_homes_without_kitchen, median_household_income_2000, median_rent_2000, median_house_price_2000, unemployment_rate_2000, historic_mean_precip, historic_mean_avg_temp, historic_mean_max_temp, historic_annual_max_temp, historic_mean_min_temp, change_mean_daily_mean_temp, change_mean_daily_max_temp, change_mean_daily_min_temp, change_mean_annual_max_temp]
Index: []

[0 rows x 64 columns]

In [ ]:
filtered_df = df1[(df1['STATE_FIPS'] == '1') & (df1['COUNTY_FIPS'] == '1')]

# Display the filtered DataFrame
filtered_df

,Unnamed: 0,STATE_FIPS,COUNTY_FIPS,Population,Inflow_pc,Inflow_gross,Outflow_pc,Outflow_gross,Total_1_death,Total_2_death,...,unemployment_rate_2000,historic_mean_precip,historic_mean_avg_temp,historic_mean_max_temp,historic_annual_max_temp,historic_mean_min_temp,change_mean_daily_mean_temp,change_mean_daily_max_temp,change_mean_daily_min_temp,change_mean_annual_max_temp
0,0,1,1,3522056.0,0.102099,3596.0,0.106970,3536.0,210,0,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
3089,3117,1,1,4061136.0,0.108541,4408.0,0.097176,3409.0,246,0,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
6179,6235,1,1,4010578.0,0.095847,3844.0,0.094579,4001.0,278,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
9270,9353,1,1,4092525.0,0.104801,4289.0,0.103642,4597.0,298,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
12362,12472,1,1,4212824.0,0.121795,5131.0,0.102660,4611.0,314,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
15453,15590,1,1,4099650.0,0.125889,5161.0,0.110742,4675.0,332,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
18542,18708,1,1,4236258.0,0.108964,4616.0,0.118475,5927.0,349,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
21630,21826,1,1,3909096.0,0.114553,4478.0,0.124245,5650.0,359,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
24720,24945,1,1,3815630.0,0.113376,4326.0,0.119514,5822.0,379,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086
27809,28062,1,1,3774231.0,0.096232,3632.0,0.129122,6050.0,407,1,...,0.047527,54.63594,64.332895,75.89185,99.37968,52.58838,2.334211,2.38234,2.15885,3.2086

In [ ]:
# Ensure no leading/trailing spaces, convert to consistent data types if necessary (e.g., strings)
df1_clean = df1.map(lambda x: str(x).strip() if isinstance(x, str) else x)
df2_clean = df2.map(lambda x: str(x).strip() if isinstance(x, str) else x)

# Rows in df1 but not in df2
df1_not_in_df2 = df1_clean[~df1_clean.apply(tuple, 1).isin(df2_clean.apply(tuple, 1))]

# Rows in df2 but not in df1
df2_not_in_df1 = df2_clean[~df2_clean.apply(tuple, 1).isin(df1_clean.apply(tuple, 1))]

print("Rows in df1 but not in df2:")
print(df1_not_in_df2)

print("\nRows in df2 but not in df1:")
print(df2_not_in_df1)

Rows in df1 but not in df2:
       Unnamed: 0 STATE_FIPS COUNTY_FIPS  Population  Inflow_pc  Inflow_gross  \
0               0          1           1   3522056.0   0.102099        3596.0
1               1          1           3  34183834.0   0.042421       14501.0
2               2          1           5   2151170.0   0.122399        2633.0
3               3          1           7    448980.0   0.208027         934.0
4               4          1           9   2635337.0   0.120212        3168.0
...           ...        ...         ...         ...        ...           ...
30894       31175         56          37   3513208.0   0.084168        2957.0
30895       31176         56          39   2702908.0   0.101927        2755.0
30896       31177         56          41    764408.0   0.122055         933.0
30897       31178         56          43    222488.0   0.193718         431.0
30898       31179         56          45    213838.0   0.274507         587.0

       Outflow_pc  Outflow_gross  Total_1_death  Total_2_death  ...  \
0        0.106970         3536.0            210              0  ...
1        0.027854         9090.0            275              9  ...
2        0.150193         2171.0            130              2  ...
3        0.206049         1880.0            133              2  ...
4        0.098462         2797.0            251              1  ...
...           ...            ...            ...            ...  ...
30894    0.079822         2576.0             83              0  ...
30895    0.125370         2030.0             62              2  ...
30896    0.102044          988.0             20              0  ...
30897    0.217441          432.0             70              0  ...
30898    0.191943          413.0            335              0  ...

       unemployment_rate_2000  historic_mean_precip  historic_mean_avg_temp  \
0                    0.047527              54.63594               64.332895
1                    0.042647              63.79805               67.479746
2                    0.056531              52.12515               65.171052
3                    0.062199              55.13253               62.920000
4                    0.048418              55.77709               60.706818
...                       ...                   ...                     ...
30894                0.057087               8.97030               41.204415
30895                0.029287              34.59321               31.835892
30896                0.063970              12.31117               39.701944
30897                0.082958              11.98945               43.173678
30898                0.055608              13.84871               45.535852

       historic_mean_max_temp  historic_annual_max_temp  \
0                    75.89185                  99.37968
1                    77.96281                  98.01970
2                    76.89095                  99.21846
3                    75.16388                  99.85084
4                    72.76571                  98.84455
...                       ...                       ...
30894                55.68291                  91.49861
30895                46.69093                  83.05324
30896                54.19024                  88.35988
30897                57.94904                  96.40398
30898                59.30887                  99.50459

       historic_mean_min_temp  change_mean_daily_mean_temp  \
0                    52.58838                     2.334211
1                    56.78389                     1.999492
2                    53.44476                     2.235789
3                    50.65014                     2.336136
4                    48.62320                     2.276818
...                       ...                          ...
30894                26.64895                     2.731117
30895                16.78501                     2.419713
30896                25.17951                     2.778750
30897                28.41188                     2.632414
30898                31.69130                     2.390966

       change_mean_daily_max_temp  change_mean_daily_min_temp  \
0                         2.38234                     2.15885
1                         1.96604                     1.93077
2                         2.27775                     2.07063
3                         2.39127                     2.15021
4                         2.32590                     2.09726
...                           ...                         ...
30894                     2.69164                     2.66650
30895                     2.29561                     2.44730
30896                     2.73537                     2.70573
30897                     2.59605                     2.55813
30898                     2.38964                     2.27670

       change_mean_annual_max_temp
0                          3.20860
1                          2.59677
2                          3.15459
3                          3.06503
4                          3.12667
...                            ...
30894                      3.21825
30895                      3.37088
30896                      3.16648
30897                      3.19403
30898                      3.26765

[30899 rows x 64 columns]

Rows in df2 but not in df1:
       Unnamed: 0 STATE_FIPS COUNTY_FIPS  Population  Inflow_pc  Inflow_gross  \
0               0          1           1   3522056.0   0.102099        3596.0
1               1          1           3  34183834.0   0.042421       14501.0
2               2          1           5   2151170.0   0.122399        2633.0
3               3          1           7    448980.0   0.208027         934.0
4               4          1           9   2635337.0   0.120212        3168.0
...           ...        ...         ...         ...        ...           ...
30889       31150         56          37   3513208.0   0.084168        2957.0
30890       31151         56          39   2702908.0   0.101927        2755.0
30891       31152         56          41    764408.0   0.122055         933.0
30892       31153         56          43    222488.0   0.193718         431.0
30893       31154         56          45    213838.0   0.274507         587.0

       Outflow_pc  Outflow_gross  Total_1_death  Total_2_death  ...  \
0        0.106970         3536.0            191              0  ...
1        0.027854         9090.0            247              9  ...
2        0.150193         2171.0            126              2  ...
3        0.206049         1880.0            121              2  ...
4        0.098462         2797.0            239              1  ...
...           ...            ...            ...            ...  ...
30889    0.079822         2576.0             37              0  ...
30890    0.125370         2030.0             23              1  ...
30891    0.102044          988.0             15              0  ...
30892    0.217441          432.0             46              0  ...
30893    0.191943          413.0            195              0  ...

       unemployment_rate_2000  historic_mean_precip  historic_mean_avg_temp  \
0                    0.047527              54.63594               64.332895
1                    0.042647              63.79805               67.479746
2                    0.056531              52.12515               65.171052
3                    0.062199              55.13253               62.920000
4                    0.048418              55.77709               60.706818
...                       ...                   ...                     ...
30889                0.057087               8.97030               41.204415
30890                0.029287              34.59321               31.835892
30891                0.063970              12.31117               39.701944
30892                0.082958              11.98945               43.173678
30893                0.055608              13.84871               45.535852

       historic_mean_max_temp  historic_annual_max_temp  \
0                    75.89185                  99.37968
1                    77.96281                  98.01970
2                    76.89095                  99.21846
3                    75.16388                  99.85084
4                    72.76571                  98.84455
...                       ...                       ...
30889                55.68291                  91.49861
30890                46.69093                  83.05324
30891                54.19024                  88.35988
30892                57.94904                  96.40398
30893                59.30887                  99.50459

       historic_mean_min_temp  change_mean_daily_mean_temp  \
0                    52.58838                     2.334211
1                    56.78389                     1.999492
2                    53.44476                     2.235789
3                    50.65014                     2.336136
4                    48.62320                     2.276818
...                       ...                          ...
30889                26.64895                     2.731117
30890                16.78501                     2.419713
30891                25.17951                     2.778750
30892                28.41188                     2.632414
30893                31.69130                     2.390966

       change_mean_daily_max_temp  change_mean_daily_min_temp  \
0                         2.38234                     2.15885
1                         1.96604                     1.93077
2                         2.27775                     2.07063
3                         2.39127                     2.15021
4                         2.32590                     2.09726
...                           ...                         ...
30889                     2.69164                     2.66650
30890                     2.29561                     2.44730
30891                     2.73537                     2.70573
30892                     2.59605                     2.55813
30893                     2.38964                     2.27670

       change_mean_annual_max_temp
0                          3.20860
1                          2.59677
2                          3.15459
3                          3.06503
4                          3.12667
...                            ...
30889                      3.21825
30890                      3.37088
30891                      3.16648
30892                      3.19403
30893                      3.26765

[30894 rows x 64 columns]